<footer class="bg-dark">
  <div class="py-4 border-top">
    <div class="container">

      <div class="row text-white">
        <div class="col-sm">
          <ul class="list-unstyled">
            <li>
              {%- if site.author -%}
                {{ site.author | escape }}
              {%- else -%}
                {{ site.title | escape }}
              {%- endif -%}
            </li>
            {%- if site.email -%}
              <li>
                <a href="mailto:{{ site.email }}">
                  {{ site.email }}
                </a>
              </li>
            {%- endif -%}
            <li>
              <a href="{{ "/mentions-legales.html" | relative_url}}">
                Mentions légales
              </a>
            </li>
          </ul>
        </div>


        <div class="col-sm text-right">
          <p>{{- site.description | escape -}}</p>
        </div>

      </div>

    </div>
  </div>
</footer>

<script>
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
  });
</script>