---
layout: default
---
<article>

  <header>
    <h1>{{ page.title | escape }}</h1>
    <p class="text-muted">
      <time datetime="{{ page.date | date: "%d-%m-%Y" }}">
        {{ page.date | date: "%d-%m-%Y" }}
      </time>
      {%- if page.author -%}
        • {{ page.author }}
      {%- endif -%}
    </p>
  </header>

  <section>
    {%- if page.featured-image -%}
      <div class="row">
        <div class="col"><img src="{{ page.featured-image | relative_url }}" style="scale: 0.8"/></div>
      </div>
    {%- endif -%}
    <div class="row">
      <div class="col">{{ content }}</div>
    </div>
    {%- if page.cablogurl -%}
      <br><a href="{{ page.cablogurl }}">Lisez la suite sur le blog de Courants Alternatifs...</a>
    {%- endif -%}
  </section>

</article>
